<style>
  .boxframe{
  background: #c4c4c4;
  color: black;
  width: 30em;
  margin: 0 auto;
  }
  
  #map-canvas{
    width: 100%;
    height: 600px;
  }
  
  .button-list li{
    background: grey;
    border-radius: 1em;
    margin: .25em;
    padding: .5em;
    cursor: pointer;
    cursor: hand;
    display: inline-block;
  }
  
  .angular-google-map-container{ height: 400px; }
  
</style>

<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>

<ul>
<li ng-repeat="area in areas" ng-click="showEstablishments( area['id'] );">
  {{area['Holding']['name']}}
</li>
</ul>

<div class="boxframe">
   <h2>{{activeplace['Holding']['name'] }}</h2>
   <p>{{activeplace['Holding']['description']}}</p>
 
  <div id="area-menu" ng-show="context==='area'">
    <ul id="area-menu"> 
      <li class="asbutton" ng-repeat="establishment in establishments" ng-click="showEstablishment( establishment['id'] );">
        {{establishment['Holding']['name']}}  
      </li>
    </ul>  
    
    <span style="display:inline-block;" class="asbutton" ng-click="closeMap()">Back</span>
    
  </div>
  <span class="asbutton" style="display:inline-block;" class="asbutton" ng-click="claimHolding( activeplace['Holding']['id'] )" ng-show="context">Claim</span>
  
  <div class="row center" id="establishment-menu" ng-show="context==='establishment'">
    <span class="asbutton" ng-click="showEstablishments( activeplace['area_id'] )">Back</span>
  </div>
</div>